@font-face{
	font-family: BenSenHandwriting;
	src: url(https://cdn.rawgit.com/AlFatihs/banglanewsdesk/92fd8578/BenSenHandwriting.ttf);
}
@font-face{
	font-family: kalpurush;
	src: url(https://cdn.rawgit.com/AlFatihs/banglanewsdesk/92fd8578/kalpurush-ANSI.ttf);
}
@font-face{
	font-family: SiyamRupali;
	src: url(https://cdn.rawgit.com/AlFatihs/banglanewsdesk/92fd8578/Siyam-Rupali-ANSI.ttf);
}
@font-face{
	font-family: SolaimanLipi;
	src: url(https://cdn.rawgit.com/AlFatihs/banglanewsdesk/92fd8578/SolaimanLipi.ttf);
}
